
<app-navbar></app-navbar>

<div class="flex-container">
    <app-color-box></app-color-box>
    <app-photo-upload></app-photo-upload>
    <app-color-box></app-color-box>
</div>

<!-- <div class="flex-container-box">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/dress2.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/dress3.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/dress1.webp" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-img-top" style="width: 18rem;height: 18rem;background-color: black;">
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div> -->

<!-- <app-dress></app-dress> -->


