<div class="colourbox">
    <button style="background-color: lightblue;" class="box" (click)="changeColor('lightblue')">Light Blue</button>
    <button style="background-color: blue;" class="box" (click)="changeColor('blue')">Blue</button>
    <button style="background-color: red;" class="box" (click)="changeColor('red')">Red</button>
    <button style="background-color: green;" class="box" (click)="changeColor('green')">Green</button>
    <button style="background-color: yellow;" class="box" (click)="changeColor('yellow')">Yellow</button>
    <button style="background-color: orange;" class="box" (click)="changeColor('orange')">Orange</button>
    <button style="background-color: purple;" class="box" (click)="changeColor('purple')">Purple</button>
    <button style="background-color: pink;" class="box" (click)="changeColor('pink')">Pink</button>
    <button style="background-color: brown;" class="box" (click)="changeColor('brown')">Brown</button>
    <button style="background-color: gray;" class="box" (click)="changeColor('gray')">Gray</button>
    <button style="background-color: black;" class="box" (click)="changeColor('black')">Black</button>
    <button style="background-color: white;" class="box" (click)="changeColor('white')">White</button>
    <button style="background-color: cyan;" class="box" (click)="changeColor('cyan')">Cyan</button>
    <button style="background-color: magenta;" class="box" (click)="changeColor('magenta')">Magenta</button>
    <button style="background-color: lime;" class="box" (click)="changeColor('lime')">Lime</button>
    <button style="background-color: maroon;" class="box" (click)="changeColor('maroon')">Maroon</button>
    <button style="background-color: navy;" class="box" (click)="changeColor('navy')">Navy</button>
    <button style="background-color: olive;" class="box" (click)="changeColor('olive')">Olive</button>
    <button style="background-color: teal;" class="box" (click)="changeColor('teal')">Teal</button>
    <button style="background-color: violet;" class="box" (click)="changeColor('violet')">Violet</button>
    <button style="background-color: indigo;" class="box" (click)="changeColor('indigo')">Indigo</button>
    <button style="background-color: gold;" class="box" (click)="changeColor('gold')">Gold</button>
    <button style="background-color: silver;" class="box" (click)="changeColor('silver')">Silver</button>
    <button style="background-color: beige;" class="box" (click)="changeColor('beige')">Beige</button>
    <button style="background-color: coral;" class="box" (click)="changeColor('coral')">Coral</button>
    <button style="background-color: crimson;" class="box" (click)="changeColor('crimson')">Crimson</button>
    <button style="background-color: turquoise;" class="box" (click)="changeColor('turquoise')">Turquoise</button>
</div>
