
<div class="flex-container">
  
    <div class="boxex">
        <div class="image-container">
          <input type="file" (change)="onFileSelected($event)" hidden #fileInput>
          <img src="../assets/icons/upload.png" alt="Upload Icon" class="upload-icon" (click)="fileInput.click()">
          <img [src]="imageSrc" [ngStyle]="imageStyles" *ngIf="imageSrc">
        </div>
        <div class="buttons">
          <button class="btn btn-dark m-2" (click)="move('left')">
            <i class="fas fa-arrow-left"></i> Left
          </button>
          <button class="btn btn-dark m-2" (click)="move('right')">
            <i class="fas fa-arrow-right"></i> Right
          </button>
          <button class="btn btn-dark m-2" (click)="move('up')">
            <i class="fas fa-arrow-up"></i> Up
          </button>
          <button class="btn btn-dark m-2" (click)="move('down')">
            <i class="fas fa-arrow-down"></i> Down
          </button>
          <button class="btn btn-light m-2" (click)="zoom('in')">
            <i class="fas fa-search-plus"></i> Zoom In
          </button>
          <button class="btn btn-light m-2" (click)="zoom('out')">
            <i class="fas fa-search-minus"></i> Zoom Out
          </button>
          <button class="btn btn-warning m-2" (click)="centerAndFit()">
            <i class="fas fa-compress-arrows-alt"></i> Center
          </button>
        </div>
    </div>
</div>